.list-items {
    border-bottom: 1px solid #c2c2c2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.item-title{
    font-size: 1.5rem;
    width: 500px;
}
.view-num{
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
}
.cookie i{
    color: #eaca59;
    font-size: 25px;
    transition: 0.3s all;
}
.cookie i:hover{
    color: #c99d00;
}

.trash i{
    color: black;
    font-size: 23px;
    transition: 0.3s all;
}
.trash i:hover{
    color: #606060;
}

.star i{
    color: rgb(255, 196, 0);
    font-size: 23px;
    transition: 0.3s all;
}
.star i:hover{  
    color: #c99d00;
}
button{
    border: none;
    background: none;
    margin: 3px;
}

.favourite{
    color: #b9961a;
}